*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
}

body{
    padding: 2em;
    font-size: 4rem;
    text-align: center;
}

h2{
    background-color: blueviolet;
    border-radius: 2rem 2rem 0 0;
}

div{
    border: 4px solid black ;
    border-radius:  2rem;
    margin: 0;
}

ul{
    list-style-type: none;
}

li{
    border-top: 4px solid black;
}

li a:visited{
    text-decoration: none;
}

li a{
    text-decoration: none;
    color: black;
    cursor: crosshair;
    display: block;
}

li a:hover,li a:active, li a:focus{
    background-color: chartreuse;
}

li:last-child a{
    border-radius: 0 0 2rem 2rem;
}